@font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu-Regular.ttf);
  font-weight: 400;
}

.body {
  background-image: url("../image/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-between;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.container {
  display: flex;
  width: 1366px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  gap: 25px;
}
.logo {
  color: #fff;
  font-family: Ubuntu;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  transition: color ease-in-out 0.2s;
}
.logo:hover {
  color: #3cb878;
}
.service-menu {
  display: flex;
  margin-left: auto;
  gap: 25px;
  align-items: center;
}
.service-menu::after {
  content: "";
  display: block;
  width: 1px;
  height: 19px;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0.5;
}
.service-menu-list {
  display: block;
  width: fit-content;
  height: fit-content;
}

.color-svg {
  transition: fill ease-in-out 0.2s;
}

.service-menu-btn {
  display: block;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
.service-menu-btn:hover .color-svg {
  fill: #3cb878;
}
.text-login {
  color: #fff;
  font-family: Ubuntu;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}
.text-login-link {
  color: #fff;
  font-family: Ubuntu;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  transition: color ease-in-out 0.2s;
}
.text-login-link:hover {
  color: #3cb878;
}

/*Form*/

.form-box {
  display: block;
  position: relative;
  width: fit-content;
  background-color: #fff;
  padding: 29px 60px;
  margin-left: auto;
  margin-right: auto;
}

.form-box::after{
    position: absolute;
    content: "";
    width: 18px;
height: 18px;
top: 29px;
left:0px;
background-color: #3CB878;

}
.form-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.header-title{
    font-family: Ubuntu;
font-size: 20px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0px;
text-align: center;
margin: 0;
}

.log-in-achor{
    font-family: Ubuntu;
font-size: 14px;
font-weight: 400;
line-height: 14px;
letter-spacing: 0px;
text-align: left;
color: #3CB878;
transition: all ease-in-out 0.2s;
}

.log-in-achor:hover{
    text-decoration: underline;
}

.form-container {
  width: 324px;
}

.form-acc {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 11px;
}

.btn-create-acc {
  background-color: #3cb878;
  border: none;
  border-radius: 4px;
  padding: 16px 99px;
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: #fff;
  margin-top: 20px;
  transition: background ease-in-out 0.2s;
}

.btn-create-acc:hover{
    background-color: #01813F;
}

.input-text-style{
    padding: 16px 20px;
    font-family: Ubuntu;
font-size: 14px;
font-weight: 400;
line-height: 14px;
border-radius: 4px 4px;
color: #BEBEBE;
letter-spacing: 0px;
text-align: left;
border: 1px solid #F2F2F2;
outline: none;
}

.input-text-style:focus{
    color: #434343;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.form-btn-social{
    display: flex;
    gap:4px;
}

.btn-social{
    padding: 11px 12px;
    border: none;
    border-radius: 4px 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Ubuntu;
font-size: 16px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0px;
text-align: left;
color:#fff

}

.btn-social-text{
    font-family: Ubuntu;
font-size: 16px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0px;
text-align: center;
color:#fff;
flex-grow: 1;
}

.facebook{
    background-color: #305DB8;
    flex-grow: 1;
    flex-basis: 160px;
    transition: background ease-in-out 0.2s;
}

.facebook:hover{
    background-color: #022263;
}

.google{
    background-color: #DF4A32;
    flex-grow: 1;
    flex-basis: 160px;
    transition: background ease-in-out 0.2s;
}

.google:hover{
    background-color: #AB1F09;
}
.after-line{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}


.after-line::after{
    position: relative;
    content: "";
    display: block;
    width: 1px;
    height: 28px;
    top: 0;
    left: 7px;
    background-color: #434343;
    opacity: 0.1;

    
}



.hr{
    margin-top: 32px;
    position: relative;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: left;
    color: #848484;
    display: flex;

}

.hr::after, .hr::before{
    position: relative;
    content: "";
    display: block;
    width: 155px;
    height: 1px;
    top: 6px;
    left: 0;
    background-color: #434343;
    opacity: 0.1;
}

.check-text{
    display: flex;
    font-family: Ubuntu;
    font-size: 14px;
    align-items: center;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: left;
    gap: 8px;
    margin-top: 12px;



}

.checkbox-style{
    margin: 0;
    width: 20px;
height: 20px;
border: 1px solid #F2F2F2;

}